General Reset
body, h1, h2, p, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: rgb(160, 212, 237);
}

body {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    padding: 20px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .25rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.title h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #006EB6;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.title hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

main p {
    text-align: left;
    margin-bottom: 20px;
}

main p em {
    font-style: italic;
}

.does-list {
    text-align: left;
    margin: 0 auto;
    padding-left: 40px;
}

.does-list li {
    margin-bottom: 15px;
}

footer {
    margin-top: 75px;
}

.logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}